.main-footer
{
    background:$brown;
    padding:3rem 0;
}

.footer-bottom
{
    margin:8rem 0 3rem 0;

    .copywrite
    {
        margin-top:2rem;
        font-size: 1.5rem;
        color:$grey-3;
    }
}


.nav
{
    margin-bottom:2rem;
    &__heading
    {
        margin-bottom: 1.6rem;
        font-size: 1.9rem;
        color:#fff;
        font-weight: 400;
    }

    &__list
    {
        list-style: none;

        li
        {
            margin-bottom: .7rem;
        }
        
        li a
        {
            text-decoration: none;
            color:$grey-3;
            font-weight: 400;
            font-size: 1.8rem;
        }
    }
}