
.btn
{
    padding:1.2rem 2rem;
    border-radius: 10px;
    font-size: 2rem;
    display: inline-block;
    cursor:pointer;
}

.btn--primary
{
    color:#fff;
    background:$orange;
    transition:transform .4s ease ;

    &:hover
    {
        transform:translateY(-2px);
    }

    &:active
    {
      transform:translateY(0);  
    }
}