.u-p-relative
{
    position: relative;
}


/* spacing */

.u-margin-bottom-sml
{
    margin-bottom: .5rem;
}

.u-margin-top-none
{
    margin-top:0;
}

.u-margin-top-medium
{
    margin-top:2rem;
}



.u-margin-bottom-medium
{
    margin-bottom:2rem;
}

.u-text-center
{
    text-align: center;
}


.full-width-img
{
    width: 100%;
    height:auto;
}

.shadow-light
{
  box-shadow: 0px 0 4rem rgba(0,0,0,.2);
}



